 div.carousel-caption{

    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
 }
div.container, div.container-fluid{
    margin-top: 20px;
}
 
 div.ad-title{
  padding: 2em;
  background-size: cover;
  background-position: center center;
 }

div.ad-title h1, div.ad-title{

    color:white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);  

}
  /** 
 * Mise en forme de bouton Réserver et titre de l'annonce 
 */
   div.ad-title .btn{

     margin-top: 2em;
     font-size: 1.5em;
     line-height: 1.5em;
   }
  /** 
 * Mise en forme de l'avatar 
 */
.navbar-brand {
     max-width: 128px;
     max-height: 128px;
     border-radius: 50%;
}
  /** 
 * Mise en forme de l'avatar(annonce) 
 */
.navbar-brand{
    max-width: 64px;
    max-height: 64px;
    
}
 /** 
 * Mise en forme de l'avatar (connexion)
 */
 .navbar-brand{
     max-width: 24px ;
     max-height: 24px;
 }


 .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover{

    color: firebrick !important;
 }
 
 span.rating i {
      
    color:goldenrod;
 }

 .alert a{

    text-decoration: none;
 }

 .alert .btn{

    color: white;
 }

 /* DropBox */

 .jumbotron{
   height: 90%;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   position: relative; 
   top: 20px; 
   left: 20px;
   
 }

 .navbar{
   height: 100px;
 }

 img {
   max-width: 45px;
   max-height: 45px;
   margin-top: -0.4em;
   font-weight: bold;
   font-weight: 900;
 }

 .navbar-brand{
   font-weight: bold;
 }

 